/* Universal Selectors */
* {
    box-sizing: border-box;
}
/* Body Selectors */
body {
    background-color: cornsilk;
    margin: 0;
}

/* Header Selectors */
.header {
    font-family:'Courier New', Courier, monospace;
    background-color: coral;
    color: cornsilk;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 2%;
    display: inline-block;
    line-height: 2em;
}

.header nav {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.header nav ul li {
    list-style-type: none;
    margin: 10px;
    display: inline-block;
}


.header nav ul li a {
    text-decoration: none;
    color: cornsilk;
    text-align: center;
}

/* Profile Image */
.profile {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-img {
    justify-content: center;
    display: block;
    margin: auto;
    width: 400px;
    height: 490px;
    padding-top: 20px;
    flex-wrap: wrap;
}

/* About Selectors */
.about {
    background-color: coral;
    padding: 10px;
    margin: 20px;
}

.about h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    background-color: cornsilk;
    letter-spacing: 2px;
    font-size: 30px;
}

.about div {
    color: cornsilk;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

/* Projects Selectors */
.projects {
    position: relative;

}

.projects h2 {
    color: teal;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.projects h3 {
    text-align: center;
    color: coral;
    font-size: 20px;
}

/* Current Project Image */
.projects .project-img-main {
    display: flex;
    height: auto;
}

.project-img-main img {
    justify-content: center;
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 900px;
    max-width: 100vw;
    height: 500px;
    padding-top: 20px;
    position: relative;
    object-fit: contain;
}

/* Project-Main Button */
.btn1 {
    position: absolute;
    background-color: cornsilk;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: coral;
    border-radius: 12px;
    padding: 14px 40px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    box-shadow: 0 2px rgb(50, 49, 49);
}

button:hover {
    background-color: rgb(218, 213, 192);
}

/* Contact Section */
.contact {
    background-color: coral;
    padding: 20px;
    margin-top: 20px;
}

.contact h2 {
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.links {
    color: cornsilk;
}

.links p {
    font-size: 20px;
}

.links ul {
    font-size: 20px;
    margin: 2%;
}

.links li a {
    color: teal;
}


/* Media Queries */

@media screen and (max-width: 768px) {
    .header nav{
        display: block;
        justify-content: space-between;
        margin-left: 20%;
    }
    .header nav ul {
        font-size: 20px;
        font-weight: bolder;
    }
    .project-img-main img {
        max-width: 90vw;
    }
}
